

.row.width{
    background:grey;
    padding: 40px 15px;
   color:white;
}
.col-12.col-md-12.col-lg-12.hero-align{
    padding:0;
}


.display-4{
    font-size: 3.0rem;
    font-weight: 900;
    line-height: 1.5;
    
}
i.far{
    margin-left:5px;
}

div.jumbotron-fluid.text-center{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.jumbotron-fluid.text-center.hero{
    background:url('boston-bg.jpg') center center/cover no-repeat fixed;
    width:100%;
    height:80vh;
    margin:0;
    /* margin-top: 100px; */
}

.row.ticket{
    padding: 80px 0;
}

.carousel-item{
    height: 500px;

} 
.carousel-item img{
    height: 500px;
    width:100%;
}



.card-img-top.matrix{
    height:400px;
    transition: transform 1s ease-out 500ms;
}

.card-img-top.matrix:hover{
   
    transform: scale(1.03);
    
}

.card-img-top.update{
    height:200px;
}

.container.pt-4.pb-4.news{
    padding: 80px 0;
}
