


.row.width{  
    padding: 40px 15px;
}


.col-12.col-md-12.col-lg-12.hero-align{
    padding:0;
}
div.bg-dark.size{
    height: 56px;
    width:100%;
}
.btn.btn-info{
    display:block;
    margin:0 auto;
}
h1.display-4{
    text-shadow:1px 3px black;

   color:white;
    
}

.display-4{
    
    
    font-size: 6.0rem;
    font-weight: 700;
    line-height: 1.5;
    
}
i.far{
    margin-left:5px;
}

div.jumbotron-fluid.text-center{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.jumbotron-fluid.text-center.hero{
    background:url('./img/hero.jpg') center center/cover no-repeat fixed;
    width:100%;
    height:80vh;
    margin:0;
    /* margin-top: 100px; */
}

div.row.ticket{
    padding: 80px 0;
}

div.col-12.carousel{
    padding:0;
}

.carousel-item{
    height: auto;

} 
.carousel-item img{
    height:auto;
    width:100%;
}


.col-12.col-lg-4.card-group{
    transition: transform 1s ease-out 500ms;
    text-align: justify;
    
}


/* FORM SECTION */

div.col-12.col-md-6.form{
    background: url('./img/form.jpg') center center/cover fixed;
    padding: 20px 10px;
}
.col-12.col-lg-4.card-group:hover{
    transform: scale(1.03);
}
.card-img-top.matrix{
    height:400px;
    
}

.card-img-top.update{
    height:200px;
}

.container.pt-4.pb-4.news{
    text-align: justify;
}

.footer{
    height:max-content;
    padding:80px 120px;
    background-color: lightblue;
}

/* MEDIA QUERY */
.card-body{
    background-color: rgba(211, 211, 211, 0.33);
}


div.container.update{
    background-color:white;
}

@media only screen and (min-width: 320px)  { h1{ font-size: 1.5rem; } h3{ font-size: 1.0rem;} .display-4{font-size:1.8rem;} div.row.ticket{
    padding:15px 0;
} .footer{padding:20px 40px;}}
@media only screen and (min-width: 768px)  { h1{ font-size: 1.75rem; text-align: center;}  h3{ font-size: 1.5rem; } div.row.ticket{
    padding:30px 0;} .display-4{font-size:2.3rem;} .footer{padding:40px 80px;} }
@media only screen and (min-width: 1024px) { h1{ font-size: 2.0rem; text-align: center;}  h3{ font-size: 1.75rem; } div.row.ticket{
    padding:50px 0;
}}
@media only screen and (min-width: 1900px) { h1{ font-size: 2.3rem; text-align: center;}  h3{ font-size: 2.0rem; }}